@use "title_bar";
@use "horizontal";

:root {
    --primary: red;
}

html,
body {
    height: 100%;
}

body {
    background-color: black;
    font-family: 'Noto Sans', sans-serif;
    color: white;
    margin: 0;
}

a {
    color: #0af;
}

.flex {
    display: flex;
}

#app_vertical {
    flex-direction: column;
    height: 100%;
}