@use "horizontal";

:root {
    --primary: red;
}

html, body {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    margin: 0;
}

a {
    color: #0af;
}

.flex {
    display: flex;
}

#app_vertical {
    flex-direction: column;
    height: 100%;
}

#title_bar {
    height: 32px;
    background-color: #111;
    margin-bottom: 4px;
    border-bottom: solid 1px red;
}
