@use "channels";
@use "guilds";
@use "info_bar";
@use "account";

#app_horizontal {
    flex-direction: row;
    height: 100%;
}

.panel {
    background-color: #111;
    margin: 4px;
    border-radius: 4px;
    padding: 4px;
}

#channel_bar {
    flex: 1;
}

#message_area {
    flex: 3;
}
