#account-panel {
    flex: 3;
}

#account-panel-login-options {
    background-color: #222;
    width: auto;
    justify-content: space-evenly;
    padding: 2px;

    &>* {
        flex: auto;
        font-size: 32px;
        text-align: center;

        &[aria-current="page"] {
            background-color: #333;
        }

        &:active,
        &:hover,
        &:link,
        &:visited {
            text-decoration: none;
            color: white;
        }
    }
}