#account-panel {
    flex: 4;

    & #warning-user-account {
        border: solid orange;
        border-radius: 4px;
        margin: 4px;
        width: auto;
        text-align: center;
    }
}

#account-panel-login-options {
    background-color: #222;
    width: auto;
    justify-content: space-evenly;
    padding: 2px;

    &>* {
        flex: auto;
        font-size: 32px;
        text-align: center;
        user-select: none;

        &[aria-current="page"] {
            background-color: #333;
        }

        &:active,
        &:hover,
        &:link,
        &:visited {
            text-decoration: none;
            color: white;
        }
    }
}

#user_login_grid {
    height: calc(100% - 43px); // HACK: magic number
    display: grid;
    grid-template-columns: 1fr 1fr;
}
