@use "account";
@use "channel_list";
@use "guild_list";
@use "info_bar";
@use "message_list";

#app_horizontal {
    flex-direction: row;
    height: 100%;
}

.panel {
    background-color: #111;
    margin: 4px;
    border-radius: 4px;
    padding: 4px;
}
